.contenedor-ppal-podcasts{
    max-width: 65%;
    margin: 0 auto;
    background-color:  #f6f700;
}

.titulo-ppal-podcasts{
    text-align: center;
}

.box-podcast{
    border: solid 30px #f6f700;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.ver-mas{
    margin-bottom: 5px;
    font-size: 14px;
    color: #ff4994;
    text-decoration: none;
}
.titulo-podcast{
    color: #8136a2;
    font-size: 1.6rem;
    margin-top: 0;
    line-height: 2rem;
}
.images{
    display: flex;
    justify-content: center;
}
.images img{
    max-width: 200px;
    border: solid 10px #f6f700;
}

.bajada-podcast{
    font-size: 0.9rem;
    color: black;
    font-style: italic;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.descripcion-podcast{
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    text-align: justify;
}
