html{
    font-family: sans-serif;
}
header{
    background-color: #00ABF8;
    padding: 10px;
    margin: 10px auto;
    display: flex;

}
.container{
   display: flex;
   flex-direction: column;
}
.logo img{
    width: 50%;
    padding: 10px;
    

}
.menu{
    padding: 10px;
}
.menu a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
.menu a:hover{
    background-color: #ff4994;
}
.table_columnist tbody{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}    
.table_columnist tr{
    background-color: #f6f700;
    margin: 15px;
    flex-wrap: wrap;
}
td{
    padding: 10px;
    display: flex;
    justify-content: center;
}
td a{
    text-decoration: none;
    color: black;
    font-size: large;
     
}
td img{
    width: 250px;
}
.footer{
    background-color: #00ABF8;
    height: 30px;
}